table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 20px auto;
}

td,
th {
	border-top: 1px solid #ddd;
	padding: 10px 20px;
	text-align: left;
	vertical-align: middle;
}

.header-row {
	text-transform: capitalize;
	font-size: 1.2em;
}

.checkbox-cell {
	text-align: center;
	padding-left: 30px;
}

.download-button {
	vertical-align: middle;
	display: inline-block;
}
.download-button:hover {
	cursor: pointer;
}

.download-button img {
	vertical-align: middle;
}

.select-all-row {
	font-size: 1em;
	font-weight: 300;
}
